/*/////////////////////*/
/* preloading my fonts */
/*/////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
/*////////////////////*/
/* cleaning the slate */
/*////////////////////*/
* 
{
    margin: 0;
    background: gray;
    box-sizing: border-box;
}
/*/////////////////////////////////*/
/* applying fonts and a background */
/*/////////////////////////////////*/
body
{
    Background: none repeat scroll 0 0;
    font-family: 'Goldman', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5em;
}
.bookshelf
{
    font-family: 'Goldman', sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
/*//////////////////////////*/
/* lets resize these images */
/*//////////////////////////*/
.splash
{
    max-width: 556px;
}

.glasses
{
    max-width: 184px;
}
.linked
{
    max-width: 22px;
}
.github
{
    max-width: 22px;
}
/*////////////////////////*/
/* Breaking the page down */
/*////////////////////////*/


















/*////////////////////*/
/* styling the navbar */
/*////////////////////*/
.nav
{
    margin: 0 auto; 
    width: 1170px;
}
.nav ul
{
    margin: 0; 
    padding: 69px 0 0; /* centering on the logo */
    list-style: none;
    text-align: right;
}
/*///////////////////////////////////////////////////////*/
/* numbering the children (buttons) and spacing them out */
/*///////////////////////////////////////////////////////*/
.nav ul li /* the rules for buttons in general */
{
    float: none;
    display: inline-block;
}
.nav ul li:nth-child(1) /* the rules for this button */
{
    float: left;
}
.nav ul li:nth-child(2) /* the rules for this button */
{
    float: left;
}
.nav ul li:nth-child(3) /* the rules for this button */
{
    float: right;
}
.nav ul li:nth-child(4) /* the rules for this button */
{
    float: right;
}
/*//////////////////////////////*/
/* styling the buttons with css */
/*//////////////////////////////*/
.nav ul li a
{
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
.nav ul li a:hover
{
    color: #66ffdd;
}
#menu
{
    width: 100%;
    position: sticky;
    top: 0%;
}
.logo_area /* the logo as an object */
{
    width: 69px;
    height: 69px;
    position: absolute;
    left: 50%;
    top: 0;
    content: none;
    margin-left: -75px;
}
.logo   /* the logo as an image */
{
    max-width: 150px;
}